<mat-toolbar color="primary">
    <mat-toolbar-row class="header-top shadow">
        <div class="header-inner">
            <div><img src="../../../assets/img/core/orion-brand.svg" alt="Orion" /></div>
            <div><img src="../../../assets/img/core/orion-logo.svg" alt="Orion" /></div>
        </div>
        <app-logout></app-logout>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Material Management Views</li>
          </ol>
   </mat-toolbar-row>
</mat-toolbar>