<mat-toolbar color="primary">
    <mat-toolbar-row class="header-top shadow">
        <div class="header-inner">
            <div><img src="../../../assets/img/core/orion-brand.svg" alt="Orion" /></div>
            <div><img src="../../../assets/img/core/orion-logo.svg" alt="Orion" /></div>
        </div>
        <app-logout></app-logout>
    </mat-toolbar-row>
    <mat-toolbar-row  *ngIf="headerBreadcrumbs">
        <ol class="breadcrumb">

            <li *ngFor="let hBreadcrumbs of headerBreadcrumbs" class="breadcrumb-item">
                <a routerLink="{{hBreadcrumbs.navigateUrl}}">{{hBreadcrumbs.navigateTitle}}</a>
            </li>
          
        </ol>
   </mat-toolbar-row>
</mat-toolbar>